h1 {
    color:orange;
    font-size: 65px;
    font-family: sans-serif;
}
body{
font-size: 16px;
}
p{
font-weight: 600;
font-size: 3em;

}
.lista{
background-color: orangered;
line-height: 40px;
text-align: center;
text-decoration: underline;
}
#yellow{
background-color: yellow;
}
#brown{
background-color: brown;
}